<div class="index-content" style="padding-top: 100px;">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Works Index</h1>
          <div class="admin-works-list" style="margin-top: 50px;">
            <% @works.each do |work| %>
              <div class="card d-inline-block" style="width: 300px;">
                <div class="card-body">
                  <h5 class="card-title" style="color: #808080;"><%= work.author %></h5>
                  <p class="card-text" style="color: #808080; font-size: 12px;"><%= work.title %></p>
                  <h6 class="card-subtitle mb-2 text-muted" style="color: #808080; font-size: 12px;"><%= work.holder.location %></h6>
                  <div class="admin-work-box text-center" style="margin-top: 20px; margin-bottom: 20px;">
                    <%= attachment_image_tag work, :img, class: "admin-work-img align-middle" %>
                  </div>
                  <p class="card-text text-center" style="color: #808080;"><%#=  %>status</p>
                  <%#= link_to "Edit" _path, class: "tn btn-outline-success btn-sm" %></td>
                  <%#= link_to "Delete" _path, class: "btn btn-outline-danger btn-sm" %></td>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>