/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 @import "bootstrap";

/* header */
header, nav {
  font-family: 'Nanum Myeongjo', serif;
  color: #afafb0;
}

/* "my gallery"のフォント変更 */
.my-gallery {
  font-family: 'Dancing Script', cursive;
}

/* ボタン色の変更 */
nav > .btn-outline-secondary {
    background: #fafdff; //ボタンの背景色
    color: #696969; //ボタンのテキストの色
}

.btn-outline-secondary:hover, .btn-outline-secondary:focus,
.btn-outline-secondary:active, .btn-outline-secondary:active:focus, .btn-outline-secondary:active:hover, .btn-outline-secondary:active.focus,
.btn-outline-secondary.active, .btn-outline-prsecondaryimary.active:focus, .btn-outline-secondary.active:hover, .btn-outline-secondary.active.focus,
.open > .dropdown-toggle.btn-outline-secondary,
.open > .dropdown-toggle.btn-outline-secondary:hover,
.open > .dropdown-toggle.btn-outline-secondary:focus,
.open > .dropdown-toggle.btn-outline-secondary.focus,
.btn-outline-secondary.disabled:hover, .btn-outline-secondary[disabled]:hover, fieldset[disabled] .btn-outline-secondary:hover,
.btn-outline-secondary.disabled:focus, .btn-outline-secondary[disabled]:focus, fieldset[disabled] .btn-outline-secondary:focus,
.btn-outline-secondary.disabled.focus, .btn-outline-secondary[disabled].focus, fieldset[disabled] .btn-outline-secondary.focus {
    background: #696969; //ボタンの上にポインタを持ってきたり、クリックしたりした時の背景色
    color: #fafdff; //ボタンの上にポインタを持ってきたり、クリックしたりした時のテキストの色
}

/* 背景色・文字色変更 */
body {
  font-family: 'Nanum Myeongjo', serif;
  background-color: #001e43;
  color: #fafdff;
}

/* 画像のshow(gallery) */
.show{
  font-family: 'Nanum Myeongjo', serif;
  background-color: #fafdff;
  color: #696969;
}

/* before Add */
.show > .btn-outline-secondary {
  background: #fafdff; //ボタンの背景色
    color: #191970; //ボタンのテキストの色
}

.btn-outline-secondary:hover, .btn-outline-secondary:focus,
.btn-outline-secondary:active, .btn-outline-secondary:active:focus, .btn-outline-secondary:active:hover, .btn-outline-secondary:active.focus,
.btn-outline-secondary.active, .btn-outline-prsecondaryimary.active:focus, .btn-outline-secondary.active:hover, .btn-outline-secondary.active.focus,
.open > .dropdown-toggle.btn-outline-secondary,
.open > .dropdown-toggle.btn-outline-secondary:hover,
.open > .dropdown-toggle.btn-outline-secondary:focus,
.open > .dropdown-toggle.btn-outline-secondary.focus,
.btn-outline-secondary.disabled:hover, .btn-outline-secondary[disabled]:hover, fieldset[disabled] .btn-outline-secondary:hover,
.btn-outline-secondary.disabled:focus, .btn-outline-secondary[disabled]:focus, fieldset[disabled] .btn-outline-secondary:focus,
.btn-outline-secondary.disabled.focus, .btn-outline-secondary[disabled].focus, fieldset[disabled] .btn-outline-secondary.focus {
    background: #191970; //ボタンの上にポインタを持ってきたり、クリックしたりした時の背景色
    color: #fafdff; //ボタンの上にポインタを持ってきたり、クリックしたりした時のテキストの色
}

/* after Added */
.add-from-gallery > .btn-outline-dark {
  background: #696969; //ボタンの背景色
    color: #fafdff; //ボタンのテキストの色
}

.btn-outline-dark:hover, .btn-outline-dark:focus,
.btn-outline-dark:active, .btn-outline-dark:active:focus, .btn-outline-dark:active:hover, .btn-outline-dark:active.focus,
.btn-outline-dark.active, .btn-outline-dark.active:focus, .btn-outline-dark.active:hover, .btn-outline-dark.active.focus,
.open > .dropdown-toggle.btn-outline-dark,
.open > .dropdown-toggle.btn-outline-dark:hover,
.open > .dropdown-toggle.btn-outline-dark:focus,
.open > .dropdown-toggle.btn-outline-dark.focus,
.btn-outline-dark.disabled:hover, .btn-outline-dark[disabled]:hover, fieldset[disabled] .btn-outline-dark:hover,
.btn-outline-dark.disabled:focus, .btn-outline-dark[disabled]:focus, fieldset[disabled] .btn-outline-dark:focus,
.btn-outline-dark.disabled.focus, .btn-outline-dark[disabled].focus, fieldset[disabled] .btn-outline-dark.focus {
    background: #fafdff; //ボタンの上にポインタを持ってきたり、クリックしたりした時の背景色
    color: #696969; //ボタンの上にポインタを持ってきたり、クリックしたりした時のテキストの色
}

/* works#show 画像表示 */
.work-frame {
  width: 1080px;
  height: 600px;
}

.work-show {
  width:auto;
  height:auto;
  max-width:100%;
  max-height:100%;
}

/* gallery work#index */
.works-all {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.works-row {
  width: 935px;
  height: 321px;
  margin: 0 auto;
}

.work-box {
  margin-right: 28px;
  margin-bottom: 28px;
  float: left;

}

.work-box:nth-child(3n) {
  margin-right: 0;
}


/* my gallery show & visit list */
.my-gallery-show {
  font-family: 'Nanum Myeongjo', serif;
  background-color: #fafdff;
  color: #00533fff;
}

/* my gallery visit list google maps */
#map {
  height: 100%;
  }

.google-maps {
  width: 100%;
  height: 500px;
}

/* my gallery visit list */
.visit-list {
  margin: 0 auto;
  width: 1093px;
}
.visit-box {
  width: 262px;
  margin-right: 15px;
}

.visit-box:last-child {
  margin-right: 0;
}

/* my gallery */
.mypg {
  font-family: 'Nanum Myeongjo', serif;
  background-color: #006a6c;
  color: #fafdff;
}

/* admin works index */
.admin-works-list {
  width: 1050px;
  margin: 0 auto;
}
.card {
  width: 300px;
  height: 400px;
  margin-right: 30px;
  margin-bottom: 30px;
  float: left;
}
.card:nth-child(3n) {
  margin-right: 0;
}
.admin-work-box {
  width: 200px;
  height: 150px;
  margin: 0 auto;
}
.admin-work-img {
  width:auto;
  height:auto;
  max-width:100%;
  max-height:100%;
  margin: 0 auto;
  vertical-align: middle
}
.admin-works-table > .btn-outline-success {
  background: #e6eae6; //ボタンの背景色
    color: #2cb4ad; //ボタンのテキストの色
}

.btn-outline-success:hover, .btn-outline-success:focus,
.btn-outline-success:active, .btn-outline-success:active:focus, .btn-outline-success:active:hover, .btn-outline-success:active.focus,
.btn-outline-success.active, .btn-outline-success.active:focus, .btn-outline-success.active:hover, .btn-outline-success.active.focus,
.open > .dropdown-toggle.btn-outline-success,
.open > .dropdown-toggle.btn-outline-success:hover,
.open > .dropdown-toggle.btn-outline-success:focus,
.open > .dropdown-toggle.btn-outline-success.focus,
.btn-outline-success.disabled:hover, .btn-outline-success[disabled]:hover, fieldset[disabled] .btn-outline-success:hover,
.btn-outline-success.disabled:focus, .btn-outline-success[disabled]:focus, fieldset[disabled] .btn-outline-success:focus,
.btn-outline-success.disabled.focus, .btn-outline-success[disabled].focus, fieldset[disabled] .btn-outline-success.focus {
    background: #2cb4ad; //ボタンの上にポインタを持ってきたり、クリックしたりした時の背景色
    color: #e6eae6; //ボタンの上にポインタを持ってきたり、クリックしたりした時のテキストの色
}
.admin-works-table > .btn-outline-danger {
  background: #fef4f4; //ボタンの背景色
    color: #ef857d; //ボタンのテキストの色
}

.btn-outline-danger:hover, .btn-outline-danger:focus,
.btn-outline-danger:active, .btn-outline-danger:active:focus, .btn-outline-danger:active:hover, .btn-outline-danger:active.focus,
.btn-outline-danger.active, .btn-outline-danger.active:focus, .btn-outline-danger.active:hover, .btn-outline-danger.active.focus,
.open > .dropdown-toggle.btn-outline-danger,
.open > .dropdown-toggle.btn-outline-danger:hover,
.open > .dropdown-toggle.btn-outline-danger:focus,
.open > .dropdown-toggle.btn-outline-danger.focus,
.btn-outline-danger.disabled:hover, .btn-outline-danger[disabled]:hover, fieldset[disabled] .btn-outline-danger:hover,
.btn-outline-danger.disabled:focus, .btn-outline-danger[disabled]:focus, fieldset[disabled] .btn-outline-danger:focus,
.btn-outline-danger.disabled.focus, .btn-outline-danger[disabled].focus, fieldset[disabled] .btn-outline-danger.focus {
    background: #ef857d; //ボタンの上にポインタを持ってきたり、クリックしたりした時の背景色
    color: #fef4f4; //ボタンの上にポインタを持ってきたり、クリックしたりした時のテキストの色
}
